* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background: linear-gradient(rgb(0, 255, 119), rgb(8, 93, 0));
    font-family: Gotham Rounded, sans-serif;
    color: white;
}

.text-section {
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}

.plist-section {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}